<header class="navbar navbar-fixed-top">
	<h1 id="header-title">Learn With Dave</h1>
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "David Wang - Web Developer", home_path, id:"logo" %>
			<nav>
				<ol class="nav pull-right">
					<li><%= link_to "Home", home_path %></li>
					<li><%= link_to "Archive", archive_path %></li>
					<li><%= link_to "Projects", projects_path %></li>
					<li><%= link_to "Code", code_path %></li>
					<li><%= link_to "Musings", musings_path %></li>
					<li><%= link_to "About", about_path %></li>
				</ol>
			</nav>
		</div>
	</div>
</header>